In [2]:
#import nltk(natural language toolkit)
import nltk

In [3]:
from nltk.corpus import stopwords

In [4]:
#import string
import string

In [5]:
emailText="Hi! How are you doing? Can you connect me to your product team?"

In [6]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
for i in emailText:
    if i not in string.punctuation:
        print(i)

H
i

H
o
w

a
r
e

y
o
u

d
o
i
n
g

C
a
n

y
o
u

c
o
n
n
e
c
t

m
e

t
o

y
o
u
r

p
r
o
d
u
c
t

t
e
a
m

In [8]:
emailText_wo_punct=[i for i in emailText if i not in string.punctuation]

In [10]:
processedText=''.join(emailText_wo_punct)

In [11]:
#stopwords

In [12]:
stopwords.words('english')[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [13]:
processedText.split()

['Hi',
 'How',
 'are',
 'you',
 'doing',
 'Can',
 'you',
 'connect',
 'me',
 'to',
 'your',
 'product',
 'team']

In [14]:
[j for j in processedText.split() if j.lower() not in stopwords.words('english')]

['Hi', 'connect', 'product', 'team']

In [15]:
#import panda
import pandas as pd

In [16]:
#import dataset file
df=pd.read_csv("feedback.csv")

In [17]:
df

                                            Feedback  Sentiment
0  I am very happy with the product. Excellent fe...          1
1                                  Product not good.          0
2  Excellent marketing but product is no where cl...          0

In [19]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [20]:
cv=CountVectorizer()

In [24]:
bow=cv.fit_transform(df.Feedback)

In [26]:
pd.DataFrame(bow.toarray(),columns=cv.get_feature_names()).to_csv("sent.csv")

In [27]:
tdidf=TfidfTransformer()

In [28]:
data=tdidf.fit_transform(bow)

In [30]:
pd.DataFrame(data.toarray(),columns=cv.get_feature_names())

,am,but,close,excellent,features,good,happy,is,marketing,no,not,product,shown,the,to,very,whats,where,with
0,0.379945,0.000000,0.000000,0.288958,0.379945,0.000000,0.379945,0.000000,0.000000,0.000000,0.000000,0.224401,0.000000,0.379945,0.000000,0.379945,0.000000,0.000000,0.379945
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.652491,0.000000,0.000000,0.000000,0.000000,0.652491,0.385372,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.317385,0.317385,0.241379,0.000000,0.000000,0.000000,0.317385,0.317385,0.317385,0.000000,0.187453,0.317385,0.000000,0.317385,0.000000,0.317385,0.317385,0.000000

In [32]:
spamData=pd.read_csv("SpamCollection",sep="\t",header=None)

In [33]:
spamData.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
spamData.columns=['Response','Message']

In [35]:
spamData.head()

  Response                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [52]:
import re
def cleanText(text):
    #removing numbers from text
    text=re.sub("\d+","",text)
    #removing punctuations
    text=re.sub(r'[^\w\s]',"",text)
    text=[i.lower() for i in text.split() if i.lower() not in stopwords.words('english') ]
    return(text)

In [55]:
spamData.Message.head().apply(cleanText)

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, wkly, comp, win, fa, cup, final,...
3        [u, dun, say, early, hor, u, c, already, say]
4    [nah, dont, think, goes, usf, lives, around, t...
Name: Message, dtype: object

In [56]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [57]:
cv=CountVectorizer(analyzer=cleanText)

In [58]:
bow=cv.fit_transform(spamData.Message)

In [80]:
spamData.head()

  Response                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [82]:
pd.merge(spamData,pd.DataFrame(bow.toarray(),columns=cv.get_feature_names()).head(),left_index=True,right_index=True)

,Response,Message,_,____,aa,aah,aaniye,aaooooright,aathilove,aathiwhere,...,zindgi,zoe,zogtorius,zoom,zouk,zs,zyada,é,ü,üll
0,ham,"Go until jurong point, crazy.. Available only ...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,Ok lar... Joking wif u oni...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,U dun say so early hor... U c already then say...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
pd.DataFrame(bow.toarray(),columns=cv.get_feature_names()).head()

In [62]:
tf=TfidfTransformer()

data=tf.fit_transform(bow)

In [71]:
x=data
y=spamData.Response
#encode y values

from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
y=lb.fit_transform(y)



from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y)

In [79]:
from sklearn.naive_bayes import MultinomialNB

spamModel=MultinomialNB()

spamModel.fit(x_train,y_train)

print("train score: ",spamModel.score(x_train,y_train))
print("test score: ",spamModel.score(x_test,y_test))

train score:  0.9746350801627184
test score:  0.9641062455132807